/* Here is your custom css styles. */
*{
    -moz-user-select: none; 
    -webkit-user-select: none;  
    -ms-user-select: none;      
    -khtml-user-select: none;  
    user-select: none;   
    -webkit-tap-highlight-color:transparent;
    outline:none;
    }
    
.github-corner path{
    color:
}
#lg-share{
    /*lightgallery的分享按钮，咱也用不了，删了删了*/
    display: none;
}